In [1]:
import pandas as pd

In [2]:
data_four = pd.read_csv('data_four.csv')
data_four.head()

   year  seriousviolent  injury  treatment  vicservices  locationr
0  2009               1       0        0.0          2.0          1
1  2009               1       0        0.0          2.0          4
2  2009               2       0        0.0          2.0          3
3  2009               2       0        0.0          2.0          1
4  2009               1       1        2.0          2.0          2

In [ ]:
data_four['seriousviolent'] = data_four['seriousviolent']