In [1]:
import pandas as pd

In [2]:
data_four = pd.read_csv('data_four.csv')
data_four.head()

   year  seriousviolent  injury  treatment  vicservices  locationr
0  2009               1       0        0.0          2.0          1
1  2009               1       0        0.0          2.0          4
2  2009               2       0        0.0          2.0          3
3  2009               2       0        0.0          2.0          1
4  2009               1       1        2.0          2.0          2

In [10]:
data_four['seriousviolent'] = data_four['seriousviolent'].replace({1:'Yes', 2:'No', 3:'Unknown'})
data_four['injury'] = data_four['injury'].replace({0:'Not injured', 1:'Injured'})
data_four['treatment'] = data_four['treatment'].replace({0.0:'Not injured', 1.0:'Not treated', 2.0:'Treated'})
data_four['vicservices'] = data_four['vicservices'].replace({1.0:'Services recieved', 2:'No services recieved'})
data_four['locationr'] = data_four['locationr'].replace({1:'Home', 2:'Friendly location', 3:'Commercial', 4:'School', 5:'Other'})
data_four

,year,seriousviolent,injury,treatment,vicservices,locationr
0,2009,Yes,Not injured,Not injured,No services recieved,Home
1,2009,Yes,Not injured,Not injured,No services recieved,School
2,2009,No,Not injured,Not injured,No services recieved,Commercial
3,2009,No,Not injured,Not injured,No services recieved,Home
4,2009,Yes,Injured,Treated,No services recieved,Friendly location
...,...,...,...,...,...,...
16524,2018,Unknown,Not injured,Not injured,No services recieved,School
16525,2018,No,Not injured,Not injured,No services recieved,Home
16526,2018,No,Injured,Not treated,Services recieved,Home
16527,2018,Yes,Injured,Not treated,Services recieved,Home
16528,2018,Yes,Not injured,Not injured,No services recieved,Commercial

In [11]:
data_four.to_csv('data_four_formatted.csv', index=False)